<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>Home</h1>
<p> Welcome {{Name}}
</p>
<form method="get" action="/Extract">
    <button type="submit">Extract invoice</button>
</form>
<form method="get" action="/Search">
    <button type="submit">Search for an invoice</button>
</form>
<form method="get" action="/Render">
    <button type="submit">Render an invoice</button>
</form>
<form method="get" action="/Remove">
    <button type="submit">Remove an invoice</button>
</form>
<form method="get" action="/Store">
    <button type="submit">Store an invoice</button>
</form>
</body>
</html>