<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form action="" method="post">
	<h1>Register:</h1>

	<p>Username</p>
	<p><input type="text" name ="UserName"></p>
	<p>Password</p>	
	<p><input type="text" name ="Password"></p>
	<p>Email</p>	
	<p><input type="text" name ="Email"></p>
	<p>CompanyCode</p>	
	<p><input type="text" name ="CompanyCode"></p>
	<br>	
	<p><input type="submit" value="submit"></p>	
</form>
<a href="{{url_for('UserLogin')}}" title="LoginHome"> Back to Login</a>
</body>
</html>