<!DOCTYPE html>
<html>
<head>
	<title> Download Rendered Invoice </title>
</head>
<body>
</body>
<form action="" method="post">
	<p>File name:</p>
	<p><input type="text" name ="FileName"></p>
    <label for="FileType">File type:</label>
    <select id="FileType" name="FileType">
      <option value="pdf">PDF</option>
      <option value="html">HTML</option>
      <option value="JPEG">JPEG</option>
    </select>
	<p><input type="submit" value="submit"></p>
	<a href="{{url_for('Home')}}" title="LoginHome"> Go Back Home</a>
</form>

</html>